@model Product

@{
    ViewData["Title"] = "Product details";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card mb-12">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <p class="card-text ">
                            <h5 class="card-title larger-text">
                                @Model.ProductName
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                }
                            </h5>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" width="100%" alt="@Model.ProductName">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <b>Description: </b>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text mb-1">
                            <b>Category: </b>
                            <a asp-controller="Products" asp-action="List" asp-route-category="@Model.Category.CategoryName">
                                @Model.Category.CategoryName
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Company: </b>
                            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">
                                @Model.Company.CompanyName
                            </a>
                        </p>
                            <hr />

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer d-flex justify-content-between">
                        <p class="card-text">
                            <a class="btn btn-outline-primary float-right" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                        <div class="text-right">
                            @if (Model.Quantity > 0)
                            {
                                <p class="card-text">
                                    <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-quantity="1"
                                       class="btn btn-outline-success"><i class="bi bi-cart-plus"></i>Add to Cart(@Model.Price.ToString("C",new System.Globalization.CultureInfo("en-US")))</a>
                                </p>
                            }
                            else
                            {
                                <button class="btn btn-outline-danger" disabled><i class="bi bi-cart-plus"></i>Out of Stock</button>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>