@model IEnumerable<Product>

@{
    ViewData["Title"] = "List of Products";
}
<main>
@*    <section class="row">
        <ul>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="bi bi-phone text-secondary fs-5 me-1"></i> Телефони
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="bi bi-laptop text-secondary fs-5 me-1"></i>Ноутбуки
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="fa-sharp fa-solid fa-computer text-secondary fs-6 me-1"></i> Системний блок
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="bi bi-display text-secondary fs-5 me-1"></i>Монітори
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="/Products/List/tv">
                    <i class="bi bi-tv text-secondary fs-5 me-1"></i>Телевізори
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="bi bi-tablet-landscape text-secondary fs-5 me-1"></i>Планшети
                </a>
            </li>
            <li class="list-group-item my-2">
                <a class="text-decoration-none d-flex align-items-center" href="#">
                    <i class="bi bi-controller text-secondary fs-5 me-1"></i>Джойстики
                </a>
            </li>
        </ul>
    </section>*@
    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title larger-text">
                                        @item.ProductName
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <a asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id" class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
                                        }
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div>
                            <img src="@item.ImageURL" width="100%" alt="@item.ProductName" />
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                @if (item.DiscountProducts.Any())
                                {
                                    var activeDiscount = item.DiscountProducts.Where(x => x.Discount.EndDate >= DateTime.Today).FirstOrDefault().Discount;
                                    if (activeDiscount.EndDate >= DateTime.Today)
                                    {
                                        <p class="card-text mb-1"><strike><b>Price: </b>@item.Price</strike></p>

                                        <p class="card-text mb-1"><b>Price: </b>@((int)(item.Price * (1 - ((double)activeDiscount.DiscountPercentage / 100))))</p>
                                    }
                                }
                                else
                                {
                                    <p class="card-text mb-1"><b>Price: </b>@item.Price</p>
                                }
                                <p class="card-text mb-1">
                                    <b>Quantity: </b>@item.Quantity
                                </p>
                                <p class="card-text mb-1">
                                    <b>Company: </b>
                                    <a asp-controller="Companies" asp-action="Details" asp-route-id="@item.CompanyId">
                                        @item.Company.CompanyName
                                    </a>
                                </p>
                                <p class="card-text mb-1">
                                    <b>Category: </b>
                                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@item.CategoryId">
                                        @item.Category.CategoryName
                                    </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-footer d-flex justify-content-between pb-2 px-3">
                                <div>
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">
                                        <i class="bi bi-eye-fill"></i>
                                        Show Details
                                    </a>
                                </div>
                                <div class="text-right">
                                    @if (item.Quantity > 0)
                                    {
                                        <p class="card-text">
                                            <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@item.Id" asp-route-quantity="1"
                                               class="btn btn-outline-success"><i class="bi bi-cart-plus"></i>Add to Cart(@item.Price.ToString("C",new System.Globalization.CultureInfo("en-US")))</a>
                                        </p>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-danger" disabled><i class="bi bi-cart-plus"></i>Out of Stock</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

@await Html.PartialAsync("_CreateItem", "Products") 